* {
  --white: #FFFFFF;
  --black: #111111;
  --primaryColor: #9756D8;
  --secondaryColor: #5827B8;
  --accentColor: #00D0FE;
  --darkColor: #10021F;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: var(--black);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:visited{
  text-decoration: none;
  color: var(--white);
}

#root {
  display: flex;
  flex: 1;
  flex-direction: row;
}